<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <script src="https://kit.fontawesome.com/c2796a7354.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel='stylesheet' href='/style.css'>


</head>

<body>
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">

          <h2>Login</h2>
        </div>
        <div class="card-body">
          
          <% for (error of errors){%>
            <p><%= error %></p>
          <%}%>
          <form action="/login" method="POST">

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-user"></i>
                </span>

              </div>
              <input type="text" class="form-control" name="login" placeholder="username">

            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" name="password" class="form-control" placeholder="password">
            </div>

            <div class="form-group">
              <input type="submit" value="Login" class="btn float-right login_btn">
            </div>


          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            Dont have an account yet? <a href='/register'>Sign up here!</a>

          </div>

        </div>

      </div>

    </div>
  </div>

</body>

</html>
