<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New tenant page</title>
</head>
<body>
    <h1>New Tenant page</h1>
    <form action="/users/<%=userId%>/properties/<%=propertyId%>/tenants" method="POST">
        Name: <input type="text" name="name"></br>
        Rent: <input type="number" name="rent"></br>
        Contact number: <input type="tel" name="contactNum"></br>
        Contact email: <input type="email" name="contactEmail"></br>
        Property Rented: <input type="text" id="display-property" value="<%=propertyRented.name%>" disabled></br>
        <input type="hidden" name="propertyRented" value="<%=propertyId%>">
        <input type="submit" value="Add New Tenant">
    </form>
        
</body>
</html>
