@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@import url('https://fonts.google.com/specimen/Roboto#standard-styles');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{
  font-family: 'Titillium Web', sans-serif;

}
#loginPage{
  background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10%;
  justify-content: center;
  min-height: 100vh !important;
  min-width: 100vw;
}
#loginPage .card{
  display: flex;
  margin-top: 20%;
  justify-content: center;
  border-radius: 25px;
  background-color: #f6e7d9 !important;
  box-shadow: 5px 10px 10px 5px rgba(255,255,255,0.2);
}
#loginPage .card-footer{
  border-radius: 25px;
}
#loginPage .card-header{
background-color: transparent !important
}
.input-group-prepend span{
  margin-right: 10px;
}
#loginPage .card h2{
  padding-top: 2%;
  letter-spacing: 2px;
  border-radius: 25px !important;
}
#loginPage .input-group {
  padding: 3%;
}
a{
  color: darkblue;
}

#map {
    height: 800px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

h1 {
  text-align: center;
}


p {
  margin-bottom: 5px;
}



.card p {
  margin: 5px
}
.bg-primary {
  background-color: #B68E65 !important;
}

.bg-secondary {
  background-color: #D7BA89 !important;
}

html,body{

font-family: sans-serif;
max-height: 100vh !important;
}

.container{
height: 100%;
align-content: center;
}

.infoContainer{
  height: 100%;


}

.card{
/* height: 370px; */
background-color: #D7BA89 !important;
}

.card-image{
  object-fit: cover ;
}
/* .card-header h2{
color: white;
} */

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.border{
  border-color: #56342A !important;
}

.hover-underline:hover, .nav-link:hover {
  border-bottom: 1px solid
}

.link-button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  /* font-family: arial, sans-serif; */
  /*input has OS specific font-family*/
  /* color: #069; */
  /* text-decoration: underline; */
  /* cursor: pointer; */
}
@media only screen and (max-width: 450px) {


#loginPage .container {
    margin-top: 30%;
}


}

@media only screen and (max-width: 768px) {


#loginPage .container {
  margin-top: 30%;
}


}
