@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@import url('https://fonts.google.com/specimen/Roboto#standard-styles');


#map {
    height: 800px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

h1 {
  text-align: center;
}
.card-custom {
  max-width: 20vw;
}
.card-img{
  width: 50%;
  object-fit: contain;
}
p {
  margin-bottom: 5px;
}

p, a, form{
  color: #D7BA89
}

li a {
  color: #56342A
}
.card p {
  margin: 5px
}
.bg-primary {
  background-color: #B68E65 !important;
}

.bg-secondary {
  background-color: #D7BA89 !important;
}

html,body{
background-color:#56342A;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.infoContainer{
  height: 100%;


}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header h2{
color: white;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
