<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>New Users View</title>
</head>

<body>
  <h1>Users New Page</h1>
  <form action="/users" method="POST">

    New Login Username: <input id="login" type="text" name="login" />
    <br />

    New Password: <input id="password" type="text" name="password" />
    <br />

    <input type="submit" name="" value="Create New User" />

  </form>

</body>

</html>
